
.container {
  background: #3D8AA7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.flex-container {
  display: flex;

}

.flex-item {
  display: flex;
  align-items: center;
}


.flex-item a {
  color: aliceblue;
}

.flex-item a {
  margin: 0 25px;
}


